@import '../../index.scss';

.container {
  .banner {
    @include width-height(100%, auto);
    img {
      @include width-height(100%, 100%);
      object-fit: cover;
    }
  }
  .sections {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin: 25px 0;
  }
}

// Media queries
@media (min-width: 768px) {
  .container {
    .sections {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .sections {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
