@import '../../index.scss';

.container{
    .forgot{
        padding: 40px 20px;
        .title{
            @include size-weight(24px, 500);
            color: $text-color;
        }
        .subtitle{
            @include size-weight(16px, 300);
            color: $text-color;
            margin: 15px 0;
        }
        .buttons{
            @include flex(row, space-between, center);
            margin: 20px 0;
            a{
                @include size-weight(14px, 400);
                padding: 8px 18px;
                border: 2px solid $hover-color;
                color: $background-color;
                background-color: $hover-color;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: $background-color;
                    color: $hover-color;
                }
            }
        }
    }
}

// Media queries
@media (min-width:640px){
    .container{
        .forgot{
            .form{
                @include flex(row, flex-start, center, 5px);
                flex-wrap: nowrap;
                margin-bottom: -9px;
            }
        }
    }
}

@media (min-width:1024px){
    .container{
        .forgot{
            max-width: 1000px;
            margin: 0 auto;
            .subtitle,
            .buttons{
                margin: 40px 0
            }
            .form{
                @include flex(row, space-between, center);
            }
        }
    }
}