@import 'public/index.scss';

.container {
  @include width-height(100%, auto);
  padding-top: 50px;
  img {
    @include width-height(100%, 100%);
    object-fit: cover;
  }
}
.outlet {
  height: 190px;
  margin: 20px 0;
  background-color: $hover-color;
  position: relative;
}

// Media queries
@media (min-width: 1024px) {
  .container {
    padding-top: 60px;
  }
}
