@import '../../index.scss';

.container {
  .recovery {
    min-height: 80vh;
    @include width-height(100%, 100%);
    @include flex(column, center, center);
    padding: 40px 20px;
    .form {
      @include width-height(85%, auto);
      @include flex(column, center, center, 30px);
      margin: 50px auto;
      padding: 40px;
      border: $border-color;
    }
  }
}

// Media querys
@media (min-width: 1024px) {
  .container {
    .recovery {
      .form {
        width: 50%;
      }
    }
  }
}
