@import '../../../index.scss';

.subnav {
  @include position(absolute, none, none, 0, -129px, 99);
  background-color: $background-color;
  border: 1px solid #e7e7e7;
  padding: 15px;
  display: none;
  .sub_list {
    @include flex(column, center, center, 10px);
    img {
      @include width-height(65px, 65px);
    }
    p {
      @include size-weight(14px, 300);
      color: $text-color-secondary;
    }
  }
}

.cart {
  display: block;
}
