@import '../../index.scss';

.container {
  .account {
    @include width-height(100%, auto);
    padding: 40px 20px;
    .data_table {
      margin: 40px 0 20px 0;
      .subtitle {
        @include size-weight(18px, 500);
        text-align: center;
        color: $text-color;
      }
      .table {
        @include flex(column, center, flex-start);
        margin-top: 20px;
      }
    }
    .btn {
      @include size-weight(14px, 400);
      padding: 5px 15px;
      background-color: #e7e7e7;
      color: $text-color-secondary;
      border-radius: 5px;
      transition: background 0.3s ease;
      &:hover {
        background-color: #d9d9d9;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    .account {
      width: 65%;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .account {
      width: 70%;
    }
  }
}
