@import 'public/index.scss';

.container {
  @include width-height(100%, 50px);
  @include flex(row, space-between, center);
  background-color: $background-color;
  padding: 0 20px;
  border-bottom: $border-color;
  position: fixed;
  z-index: 1000;
  .title_container {
    @include flex(row, space-evenly, center, 35px);
    .title {
      @include size-weight(16px, 500);
      color: #888;
      span {
        @include size-weight(16px, 700);
        color: $hover-color;
      }
    }
    .bars {
      border: none;
      background-color: $background-color;
      height: 20px;
    }
  }
  .icons {
    @include flex(row, space-evenly, center, 35px);
  }
}

// Media queries
@media (min-width: 768px) {
  .container {
    .title_container {
      @include flex(row, space-evenly, center, 35px);
      .title {
        font-size: 30px;
        span {
          font-size: 30px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    height: 60px;
    padding: 0 35px;
    .title_container {
      .bars {
        display: none;
      }
      .title {
        font-size: 35px;
        span {
          font-size: 35px;
        }
      }
    }
  }
}
