@import '../../index.scss';

.container {
  margin: 40px 0;
  .title {
    @include size-weight(20px, 500);
    color: $text-color;
    text-align: center;
  }
  .brands_container {
    @include flex(column, center, center, 15px);
    margin-top: 35px;
  }
}

// Media queries
@media (min-width: 768px) {
  .container {
    margin: 70px 0;
    .title {
      font-size: 25px;
    }
    .brands_container {
      flex-direction: row;
    }
  }
}
