* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  text-decoration: none;
}

// global colors
$border-color: 1px solid #e7e7e7;
$background-color: #fff;
$background-secondary: #f2f2f2;
$text-color: #191919;
$black-color: #000;
$text-color-secondary: #777;
$hover-color: #c508c5;
$price-color: #f8353e;

// mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin size-weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
