@import '../../index.scss';

.container {
  .cart {
    padding: 40px 20px;
    .empty_cart {
      @include flex(column, center, center, 15px);
      margin: 30px;
      .message {
        @include size-weight(18px, 500);
        color: $text-color;
        letter-spacing: 1px;
      }
      .description {
        @include size-weight(14px, 300);
        color: $text-color-secondary;
      }
    }
  }
}

// Media queries
@media (min-width: 1024px) {
  .container {
    .cart {
      .empty_cart {
        img {
          @include width-height(320px, auto);
        }
        .message {
          font-size: 20px;
        }
        .description {
          font-size: 16px;
        }
      }
    }
  }
}
