@import '../../../index.scss';

.input_container {
  @include width-height(100%, auto);
  @include flex(column, flex-start, flex-start, 3px);
  .label {
    @include size-weight(14px, 500);
    color: $text-color;
  }
  .input {
    @include width-height(100%, auto);
    @include size-weight(14px, 300);
    color: $text-color-secondary;
    padding: 8px 15px;
    background-color: $background-secondary;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 1px solid $hover-color;
    }
  }
}
