@import '../../index.scss';

.check,
.footerStyle {
  @include flex(row, flex-start, center, 7px);
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
  position: relative;
  input {
    cursor: pointer;
  }
  label {
    @include size-weight(12px, 300);
    color: 777777;
  }
  a {
    color: $hover-color;
    &:hover {
      opacity: 0.7;
    }
  }
}

// Media querys
@media (min-width: 1024px) {
  .check,
  .footerStyle {
    width: auto;
    label {
      font-size: 14px;
    }
  }
  .footerStyle {
    width: fit-content;
    margin: 0;
    a {
      color: $hover-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
