@import '../../../index.scss';

.subnav {
  @include position(absolute, none, none, none, -145px, 99);
  background-color: $background-color;
  border: 1px solid #e7e7e7;
  padding: 20px 30px;
  display: none;
  .sub_list {
    @include flex(column, center, flex-start, 15px);
    a,
    button {
      @include size-weight(13px, 400);
      color: $text-color-secondary;
      transition: color 0.3s ease;
      &:hover {
        color: $hover-color;
      }
      img {
        margin: 0 5px -3px 0;
      }
    }
    button {
      @include width-height(auto, 23px);
      align-items: start;
      cursor: pointer;
    }
  }
}
.user {
  @include position(absolute, none, none, 0, -90px);
  padding: 15px;
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.active {
  bottom: -164px;
}

.clothes,
.home,
.user {
  display: block;
}
