@import 'public/index.scss';

.container {
  padding: 30px 0;
  background-color: #f9f9f9;
  .offers_container {
    @include flex(column, center, center, 10px);
    .span {
      @include size-weight(16px, 600);
      color: $text-color;
    }
    .input_container {
      width: 80%;
      margin: 0 auto;
      position: relative;
      input {
        @include width-height(100%, 37px);
        padding: 2px 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        color: $text-color-secondary;
        &:focus {
          border: 1px solid $hover-color;
        }
      }
      img {
        @include width-height(37px, 37px);
        background-color: $hover-color;
        padding: 5px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .links {
    margin: 50px 40px;
  }
}

// Media queries
@media (min-width: 1024px) {
  .container {
    padding: 0;
    .offers_container {
      @include flex(row, space-evenly, center, 10px);
      padding: 20px 50px;
      background-color: #c508c537;
      .input_container {
        width: 30%;
      }
    }
    .links {
      @include flex(row, space-evenly, baseline);
    }
  }
}
