@import '../../index.scss';

.container {
  padding: 5px 15px;
  background-color: #f2f2f2;
  .title {
    color: #919191;
    font-size: 12px;
    a:hover {
      color: $hover-color;
    }
    .page {
      color: #777777;
    }
  }
}
