@import '../../index.scss';

.container {
  padding: 50px 20px 5px 20px;
  background-color: #f2f2f2;
  .title {
    color: #919191;
    font-size: 12px;
    a:hover {
      color: $hover-color;
    }
    .page {
      color: #777777;
    }
  }
}

// Media queries
@media (min-width: 1024px) {
  .container {
    padding: 60px 35px 5px 35px;
    .title {
      font-size: 13px;
    }
  }
}
