@import '../../index.scss';

.container {
  .products_container {
    padding: 40px 20px;
    .filters {
      .filter {
        @include flex(row, space-between, center);
        button {
          @include size-weight(15px, 300);
          color: $hover-color;
          border: none;
          background-color: transparent;
          cursor: pointer;
          &:hover {
            color: $text-color;
          }
        }
        span {
          @include size-weight(14px, 300);
          color: $text-color;
        }
      }
      .select {
        @include width-height(100%, auto);
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 6px;
        background-color: $background-secondary;
        border: 1px solid $background-secondary;
        color: $text-color;
        font-size: 16px;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('/icons/arrow_bottom.svg');
        background-position: right 10px top 50%, 0 0;
        background-size: 1.2em auto, 100%;
        background-repeat: no-repeat;
        padding-right: 25px;
        &:focus {
          border: 1px solid $hover-color;
        }
        option {
          font-weight: normal;
          display: block;
          min-height: 1.2em;
          padding: 0px 2px 1px;
          white-space: nowrap;
        }
      }
    }
    .products {
      @include flex(column, center, center, 15px);
      margin: 20px 0;
    }
  }
}

// Media queries
@media (min-width: 768px) {
  .container {
    .products_container {
      .products {
        @include flex(row, center, center, 15px);
      }
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .products_container {
      .filters {
        @include flex(row, space-between, center);
        padding: 0 50px;
        .filter {
          width: 25%;
        }
        .select {
          width: auto;
          font-size: 14px;
        }
      }
    }
  }
}
